---
import { Icon } from 'astro-icon/components';
import { SOCIAL_LINKS } from '../constants.ts';

const currentYear = new Date().getFullYear();
---

<footer class='absolute bottom-0 w-full h-10 mb-4'>
    <div
        class='container max-w-screen-lg mx-4 lg:mx-auto flex flex-col md:flex-row gap-2 items-center justify-between text-sm border-t border-slate-600 py-1'
    >
        <p>Copyright &copy;{currentYear} Patrick McDermott</p>
        <div class='flex gap-3 items-center'>
            Find me on:
            <ul class='flex items-center gap-3'>
                {
                    SOCIAL_LINKS.map(({ title, icon, href }) => (
                        <li>
                            <a
                                href={href}
                                target='_blank'
                                rel='noreferrer nofollow'
                                title={title}
                                class='text-white hover:text-slate-400'
                            >
                                <Icon
                                    name={icon}
                                    width={18}
                                    height={icon === 'facebook' ? 18 : 24}
                                />
                                <span class='sr-only'>{title}</span>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</footer>
